*{    
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 
 html,body{
     width: 100%;
     height: 100%;
 }
 
 #main{
     width:100%;
     min-height: 100vh;
 }
 
 #top{
     width:100%;
     min-height:60vh;
     background-image: url(https://images.unsplash.com/photo-1505533321630-975218a5f66f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=500&q=60);
           
     background-size: cover;
     background-position: center;

 }

 #overlay{
    position: relative;
    width: 100%;
    min-height:inherit;
    background-color: rgba(0, 0, 0, 0.274);
    
 }

 #text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:20%;
    width:100%; 
    padding: 0 10vw;   
    color: #fff;
 }

 #text h1{
    font-weight: 500;
    font-size: 8vw;
 }

 #textright{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #textright p{
     display: flex;
     font-size: 15px;
     
 }
 #textright i{
    color:#fff;
 }

 #bottom{
    display: flex;
    width:100%;
    min-height:20vh;
    background-color: blue;   
}

#bone{
    padding: 30px;
    width:25%;
    min-height: inherit;
    background-color: #fff;
}

#bone p{
    font-size: 12px;
    margin-top: 20px;
}

#btwo{
    padding: 30px;
    width:25%;
    min-height: 40vh;
    color: #fff;
    background-image:url(https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2l0aHVifGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
        
}
#btwo p{
    font-size: 12px;
    margin-top: 20px;
}
#btwo a{
    color: #fff;
    text-decoration: none;
}

#bthree{
    width:20%;
    min-height: inherit;    
}

#bthreetop{
    width:100%;
    min-height: 20vh;
    padding: 20px;
    color: #fff;
    background-color:lightcoral;
}

#bthreetop p{
    margin-top: 10px;
    font-size: 12px;
}

#bthreebottom{
    width:100%;
    min-height: 20vh;
    background-image:url(https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHVuaXZlcnNpdHklMjBjb2Rpbmd8ZW58MHx8MHx8fDI%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;    
}

#bfour{
    width:30%;
    min-height: inherit;
    padding:30px;
    background-image:url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGZlZWwlMjBmcmVlJTIwdG8lMjBjb25uZWN0fGVufDB8fDB8fHwy&auto=format&fit=crop&w=500&q=60);
    background-size: cover; 
    color:#fff;
}

.notify{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.notify #photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1606122017369-d782bbb78f32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHBob3RvfGVufDB8fDB8fHwy&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.notify p{
    width: 86%;
    font-size: 17px;
    
}

@media(max-width: 500px){
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #text h1{
        font-size: 10vw;
    }
    #bottom{
        min-height: 20vh;
    }
    #overlay #text #textright{
        align-items: flex-start;
        flex-direction: column;
    }
    #overlay #text #textright p{
        width: initial;
        margin-top: 20px;
    }
    #overlay #text #textright #icons{
        margin-top: 30px;
    }
    #bottom{
        flex-direction: column;
    }
    #bone{
        width:100%;
    }
    #btwo{
        width:100%;
    }
    #bthree{
        width:100%;
        flex-direction: column;
    }
    #bthreebottom{
        min-height: 40vh;
    }
    #bfour{
        width:100%;
    }
}