
:root{
    --gradient:linear-gradient(100deg,
    #c436a0 10%,
    #d65db1 30%,
    #ff6f91 50%,
    #3fcfe2 70%
    
    );
}


body {
   
    font-family: 'Lucida Sans',sans-serif;
    text-align: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1605033375841-e6be8a34917c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzd8fG5lb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    
    
}

p{
    font-size: 20px;
    font-weight:bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.row {
    
    display: flex;
    background: var(--gradient);

}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 2px 3px 5px #000;
    
}

button{
    font-size: 1rem;
    margin-top: 20px;
    color:darkturquoise;
    border: none;
    padding: 0.5em 1em;
    border-radius: 7px;
    background-image:linear-gradient(rgb(10, 39, 100),rgb(77, 77, 180));

}

button:hover{
    color:bisque;
    background-image:linear-gradient(rgba(212, 27, 27,0.7),rgba(50, 50, 206,0.8));

}

@media  screen and (max-width:1200px){
    body{

        font-family: Arial, Helvetica, sans-serif;
        background-color: darkolivegreen;
    }
}